/* Created by Christopher Borer
April 9th 2022 */
* {
    margin: none;
    padding: none;
}
body{
    background-color: antiquewhite;
}
h1 {
  background: linear-gradient(0.25turn, #0080ff, 10%, #400080);
  text-align: center;
  height: 2em;
  padding-top: 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: 24px;
}
form {
    padding-bottom: .5em;
}
.container {
    max-width: 100%;
}
.row {
    width: 100%;
}
.verifyCity {
  background: linear-gradient(0.25turn, #ff00cc, 10%, #800000);
  text-align: center;
  height: 2em;
  padding-top: 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
}
.currentWeather {
    border: solid black;
    border-radius: .5em;
}
.pastCities {
    border-top: solid black;
    /* border-radius: .5em; */
    margin-top: 1.5em; 
}
 .pastWeather {
     display: flex;
    flex-wrap: wrap;
    /* width: 20%; */
}
.pastWeather div {
    margin: .5em;
    border: solid black;
    border-radius: .5em;
}
/* #searchForm {
    border: solid black;
    border-radius: .5em;
} */
#searchForm h2 {
    padding-left: 0%;
}
#searchForm button {
    margin-top: .5em;
}



